h1{
    color:red;
}
html{
    background-color:black;
    background-image:url("https://i.pinimg.com/originals/ca/f4/42/caf44253eba221745bd20c9effe8d71a.gif");
    height: 100px;
}
p{
    color: whitesmoke;
}
.love{
    font-size: 30px;
    color: chocolate;
}
.alekhya{
    font-size: 40px;
    color: brown;
    font-style: italic;
    font-family: fantasy;
}
.h{
    text-align: center;
    font-size: 40px;
    font-family: serif;
}
.bava{
    font-size: 20px;
    color: brown;
    font-style: italic;
    font-family: fantasy;
}
.letter{
    color: azure;
    font-family: cursive;
}

